@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,400italic,600italic|Lato);

header {
	background-image: url(imagenes/cafe.png);
}

div wrapper {
	width: 800px;
}


nav {
   background-color: #230b03;
   padding: 20px 5px;
   height: 5px;
   padding-left: 370px;
}

nav li {
   list-style-type: none;
   display: inline;
   font-family: helvetica;
   text-decoration: none;
   font-family: 'Open Sans', sans-serif;
   color: white;
}


ul {
	list-style-type: none;
	margin: -5px;
	padding: 0px;
}


li {
	display: inline-block;
	margin-right: 10px;
   margin-left: 30px;
}


a {
	text-decoration: none;
	color: white;
	font-family: : helvetica;
}

nav li a:hover {
	background-color: #89613b;
}


h2 {
	font-family: 'Open Sans', sans-serif;
}

article:first-child{
	width: 400px;
	height:400px;
	position: absolute;
	display: inline-block;
	margin-left: 600px;
	margin-right: 80px;
	font-family: helvetica;
	padding: 50px;
	padding-left: 5px;
	color: #89613b;
}


h2 {
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	padding: 10px;
	padding-left: 0px;
}


article:nth-child(2){
	width: 400px;
	height:400px;
	display: inline-block;
	font-family: helvetica;
	margin-left: 50px;
	padding: 50px;
	padding-right: 10px;
    color: #89613b;
    position: absolute;
}

footer{
	font-family: 'Open Sans', sans-serif;
	color: white;
	margin-top: 270px;
	display: block;
	height: 30px;
	margin-left: 10px;
	padding: 8px;
	background-color: #230b03;
}